.title {
    position: relative;
  text-align: center;
  bottom: 30vh;
  font-size: 25px;
    
  }
  .body{
    background-image: linear-gradient(
        to top right, #cdcdcb, rgb(53, 49, 49)
    );
    min-height: 120vh;
    
  
  }
  
  .bg{

    background-image: url(/image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 47vh;
    background-position: center;
    padding-top: 4rem;
  }
.container{
  position: relative;
  left: 50vh;

  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 200px;
  font-size: 25px;  
  }

  .card{
    position: relative;

    text-align: center;
    padding: 10px;

     border-radius: 30px; 
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;

    max-width: 50%;
  }

  .button{
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 10%;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    background-color: black;
    margin-top: 7px;
  }