.title {
    position: relative;
  text-align: center;
  top: 10px;
  font-size: 25px;
    
  }
  .body{
    background-image: linear-gradient(
        to top right, #cdcdcb, rgb(53, 49, 49)
    );
    min-height: 120vh;
  }
  .image{
    position: absolute;
    padding: 0px;
    width: 200px;
    height: 300px;
    object-fit: contain;
  }
.container{
  position: absolute;
  top: 80%;
  left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  font-size: 25px;  
  }

  .card{
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
     border-radius: 25px; 
  }

  .button{
    font-size: 25px;
    position: relative;
    top:10px;
    left: 100px;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    background-color: black;
    margin-top: 7px;
  }