 .bar{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 10;
 }
 /* change back to original?? */
 .navbar {

    padding: 21px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar ul {
    font-family: serif;
    display: flex;
    list-style-type: none;
    font-size: large;
    position: relative;
    color: white;
  }
  
  .navbar li {

    margin-left: 10px;
  } 

  .port{
  position: absolute;
  top:5px;
  left: 10px;
  padding: 3px;
  font-size: 35px;
  font-weight: 500;
  font-family: serif;
    font-variant: small-caps;
    color: white;
  }
 

  

