.body{
    background-image: linear-gradient(
        to top right, #cdcdcb, rgb(53, 49, 49)
    );
    min-height: 120vh;




}

.bg{
    
background-image: url(/1661293325102.jpeg);
background-size: cover;
background-repeat: no-repeat;
min-height: 45vh;
background-position: center;
padding-top: 4rem;
}
.container{

position: absolute;
text-align: center;
}
.title{
position: relative;
text-align: center;
bottom: 30vh;
font-size: 30px;

}

.h1{
position: relative;
text-align: center;
font-size: 25px;
}

.description{
    position: relative;
    text-align: center;
    bottom: 10vh;
    font-size: 18px;
}