.body{
    background-image: linear-gradient(
        to top right, #cdcdcb, rgb(53, 49, 49)
    );
    min-height: 120vh;
    


}


.bg{
background-image: url(/1661293325102.jpeg);
background-size: cover;
background-repeat: no-repeat;
min-height: 50vh;
background-position: center;
padding-top: 4rem;
}