
.title {
  position: relative ;
  text-align: center;
  bottom: 30vh;
  font-size: 25px;

  }

  .description {

color: rgb(30, 239, 239);

  }
  .body{
    background-image: linear-gradient(
      to top right, #cdcdcb, rgb(53, 49, 49)
  );
    /* background-image: linear-gradient(
        to top right, #885cf6, rgb(14, 199, 88)
    ); */
    bottom: 10%;
    min-height: 200vh;
    margin: 0;

    justify-content: center;
    align-items: center;

  }
  .bg{
    background-image: url(/1661293325102.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    background-position: center;
    padding-top: 4rem;
  
  }
  .slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
    gap: 90px; /* Gap between columns */
    
    position: absolute;

    left: 10%;
    text-align: center;
    width: 83%;
    height: 100%;
    overflow: hidden; 
  }

  .container{

     text-align: center;
    background-color: rgb(47, 45, 45);
     border-radius: 25px; 
    border-style:solid;
    border-width: 3px;
    border-color: rgb(161, 156, 156);

    padding: 20px;
     transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;   
  }
  .container:hover{
    background-color: burlywood;

  }
.img{
  background-image: url(/1378900-200.png);
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center;
position: relative;
top: 30px;
  padding: 6rem;
}
.img2{
  background-image: url(/pixel-art.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  background-position: center;
  padding: 6rem;
}
.img3{
  background-image: url(/School-Jokes-Feature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  background-position: center;
  padding: 6rem;
}
.img4{
  background-image: url(/512x512bb.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  background-position: center;
  padding: 6rem;
}
.img5{
  background-image: url(/orangee.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  background-position: center;
  padding: 6rem;
}
  .ptitle{
    font-size: 25px;
  }
   /* #next, #prev{
    position: absolute;
   top: 40%;
     color: #fff; 
     background-color: transparent; 
    border: 0; 
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 0px; 
}
#next{
    left: unset;
    left: 1421px;
}  */